body {
	margin:0;
	font-family: 'Montserrat', sans-serif;
	background-image: url(../img/background4.png);
}
a {
	text-decoration: none;
	color:black;
}
.home-button {
	font-size:4em;
	line-height:1.3em;
	opacity: 0.0;
    filter: alpha(opacity=50);
}
.navbar-container a {
	color:#CA9CE1;
}
#main-wrapper {
	width:100vw;
}
.navbar-container {
	width:100vw;
	height:80px;
	background-color: #685F74;
	display:flex;
	justify-content: space-between;
	text-align:center;
}
.secondary-button {
	margin-top: 1%;
	font-size:1.5em;
	line-height: 2em;
	padding-right: 20px;
	padding-left: 20px;
	height:40px;
}
.secondary-button:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
    background: transparent;
	transition: width .3s ease, background-color .3s ease;
	margin-top:-7px;
}
.secondary-button:hover:after {
	width: 100%;
	background: #CA9CE1;
}
.home-button-container {
	width:300px;
	height:74px;
	background-image: url(../img/Hemknapp.png);
	background-position: center;
	background-size: cover;
	transition-duration: 0.5s;

}
.home-button-container:hover {
	background-image:url(../img/Hemknapp_hover.png);
}

.ruta {
	margin: auto;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
.ruta2 {
	margin: auto;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	width: 50%;
}
.ruta3 {
	margin: auto;
	margin-top: 2%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 35%;
}
.ruta4 {
	margin: auto;
	margin-top: 5%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
 footer {
 	position: absolute;
 	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center;
 	font-size: 10px;
 	color: black;
 }

.h{
	font-size: 22px;
	margin-top: 1%;
	text-align: center;
}

.r {
	font-size: 22px;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 5%;
	text-align: center;
}

.t {
	margin-top: 1%;
	text-align: center;
	font-size: 18px;
}
.l {
	margin-top: 2%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#mapp{
	align-self: center;
	width:100%;
	height:500px;
	border:0; 
}
.k {
	float: left;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
.mon {
	float: left;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
.app {
	float: left;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
.öv {
	float: left;
	margin-top: 10%;
	border: 5px solid black;
	background-color: #685F74; 	
	max-width: 20%;
}
.rutor {
	margin-left: 15%
}
a {
	color: #CA9CE1;
}